{% extends 'layout.html' %}
{% block content %}
{% for expense in expenses %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                    <a class="mr-2"></a>
                    <a class="text-muted1" href="{{ url_for("update", user_id=user_id, expense_id=expense.id)}}">£{{ '{:.2f}'.format(expense.amount) }}</a>
            </div>
            {% if expense.repaid == "Paid" %}
            <p class="paid-unpaid-paid">{{ expense.repaid }}</p>
            {% else %}
            <p class="paid-unpaid-unpaid">{{ expense.repaid }}</p>
            {% endif %}
            <div class="article-header">
                <h3 class="article-title">Category: {{ expense.category }}</h3>
            </div>
            <div class="article-description">
                <p class="sub-title">Description: {{ expense.description }}</p>
            </div>
        </div>
</article>
{% endfor %}
{% endblock content %}